body {
    font-family: "Lato", "Open Sans", sans-serif;
}

.fixed-top, .fixed-bottom {
    position: static;
}

/* Navigation bars */
#navlinks li a:hover{
    color: rgb(138, 55, 129);
}

.nav-link {
    font-weight: 500;
    color: black;
    font-size: 20px;
}

.navbar-brand {
    font-weight: 600;
    color: rgb(4, 47, 42);
    font-size: 30px;
}

.navbar-brand:hover {
    color: rgb(4, 47, 42);
}

/* Featured cards */
.cards:hover {
    background-color: rgb(227, 226, 226);
    .card {
        background-color: rgb(227, 226, 226);
    }
}

.fa-solid {
    font-size: 42px;
    color: rgb(79, 79, 79);
    padding: 0px 0px 16px;
}

.card {
    border: none;
}

.card-title {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 0px;
}

.card-subtitle {
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    color: grey;
}

/* News section */
.news {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.news:hover {
    filter: opacity(0.8);
}

.news p {
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    font-weight: 600;
    text-transform: uppercase;
}

#news-link-general {
    font-size: 12px;
    filter: brightness(100%);
    margin-bottom: 5px;
}

#news-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: rgb(231, 227, 227);
}

#footer-links a {
    color: green;
}

.copyright {
    font-size: 12px;
}