header {
    background-color: rgb(42, 159, 159);
    padding: 30px;
}

.page-title {
    color: white;
    font-size: 48px;
    text-align: center;
}

.header-section {
    display: flex;
    justify-self: center;
    justify-content: center;
    color: white;
}

fieldset legend {
    font-size: 24px;
}

.col-form-label {
    font-size: 20px;
    padding: 0;
}

.counter-number {
    font-size: 30px;
    font-weight: bold;
}

.counter-name {
    font-size: 24px;
}

.slash {
    font-size: 36px;
    text-align: center;
    align-self: center;
}

.counter {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.counter p {
    text-align: center;
}

.counter-section {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .slash {
        display: none;
    }

    .counter-section {
        display: flex;
        flex-direction: column;
    }

    .counter {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .counter-name {
        margin-left: 15px;
    }
}

.shiny-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shiny-pokemon {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 200px;
    background-position: bottom left;
    background-position-y: -30px;
    padding: 10px;
    margin: 5px;
}

.new-shiny-group {
    margin-left: 40px;
}

.shiny-pokemon:hover {
    transform: scale(1.05);
    background-color: rgb(255, 245, 226);
}

.shiny-pokemon:hover .pokemon-evolution {
    visibility: visible;
}

.pokemon-shiny-name {
    font-size: 24px;
    color: rgb(92, 91, 91);
    margin: 0;
}

.pokemon-evolution {
    visibility: hidden;
    color: rgb(175, 175, 175);
    font-size: 16px;
}